<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458723311102-0rfh2956bialvjmene8cu2v8k5egup7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458723311102-0rfh2956bialvjmene8cu2v8k5egup7r</string>
	<key>API_KEY</key>
	<string>AIzaSyAPSNtOqwdU-kvhyklwB2H6Eq88zfaMmlI</string>
	<key>GCM_SENDER_ID</key>
	<string>458723311102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efootball.efootballApp</string>
	<key>PROJECT_ID</key>
	<string>efootball-76fcf</string>
	<key>STORAGE_BUCKET</key>
	<string>efootball-76fcf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458723311102:ios:5ca1fd69e6998e2f7094af</string>
</dict>
</plist>
